

body {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    min-height: 100vh;
    background-image: url(/photos/juyt_6.jpg);
    background-size: contain;
    background-position: center;
}

img {
    aspect-ratio: 35/4;
}

a {
    color: black;
    font-weight: 700;
    padding: 5px;
    border-radius: 5px;
}

a:hover {
    background-color: black;
    color: whitesmoke;
}

[class*="col-"] {
    width: 100%;
    padding: 10px;
  }

.nav_bar {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 2;
    padding: 0;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.logo img {
    padding: 0;
    aspect-ratio: 35/4;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    margin-left: 15px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 75vh;
    padding: 150px 20px 20px 20px;
    
}

section {
    width: 100%;
}

.log-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 75%;
    max-width: 450px;
    border: solid 1px black;
    border-radius: 10px;
    background-color: transparent;
    backdrop-filter: blur(50px);
}

.log-in h1 {
    margin: 0;
}

.group {
    width: 100%;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

form input {
    border-radius: 10px;
    margin-bottom: 5px;
    width: 75%;
    padding: 10px;
    background-color: transparent;
    color: black;
    border-color: black;
}

#submit {
    color: white;
    background-color: black;
    margin-top: 15px;
}

form input::placeholder {
    font-size: 0.8em;
    font-weight: 700;
    color: black;
}

footer {
    display: flex;
    flex: 1;
    background-color: black;
    color: white;
    padding: 0;
}

.footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.icons {
    display: flex;
    flex-direction: column;
    width: 50%;
}

address {
    width: 50%;
    line-height: 1.8;
}

address p {
    margin: 10px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

@media only screen and (max-height: 870px) {
    .content {
        height: 750px;
    }
}


@media only screen and (max-height: 768px) {
    .content {
        height: 750px;
    }
}


@media only screen and (max-height: 375px) {
    .content {
        height: 750px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s--2 {width: 16.66%;}
    .col-s--3 {width: 25%;}
    .col-s--4 {width: 33.33%;}
    .col-s--5 {width: 41.66%;}
    .col-s--6 {width: 50%;}
    .col-s--7 {width: 58.33%;}
    .col-s--8 {width: 66.66%;}
    .col-s--9 {width: 75%;}
    .col-s--10 {width: 83.33%;}
    .col-s--11 {width: 91.66%;}
    .col-s--12 {width: 100%;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    .nav_bar {
        flex-direction: row;
    }

    nav {
        width: 50%;
    }

    .content {
        padding: 50px 20px 20px 20px;
    }
    .log-in {
        height: 75%;
    }

    section {
        margin-bottom: 20px;
    }

    .footer {
        flex-direction: column;
    }
    address {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .icons {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .linkIcon {
        padding: 0;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    .log-in {
        height: 65%;
    }

    .icons {
        width: 100%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .content {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

}