
.content_video {
    padding-bottom: 50px;
    border-style: none;
}


.video {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

video {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}