<!DOCTYPE html>
<html lang="de">
    <head>
        <title>Fair Play</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Entdecken Sie FairPlay by Maria - eine informative Webseite mit einem spannenden Einblick rund um das Thema Fair Play. Erfahren Sie, warum Respekt, Gleichberechtigung und Teamgeist in Sport und Alltag so wichtig sind.">
        <link rel="stylesheet" href="reset.css">
        <link rel="stylesheet" href="style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@200..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Parkinsans:wght@300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>
<body>
    <header>
        <div class="nav_bar">
            <div class="col-6 logo">
                <img src="/photos/icons.svg" alt="Logo FairPlay" width="150" height="150" >
            </div>
                <nav>
                    <ul>
                        <lh><a href="/">Home</a></lh>
                        <li><a href="/play-video">Präsentation</a></li>
                        <li><a href="/">Login</a></li>
                    </ul>
                </nav>
        </div>
    </header>
    <main>
        <div class="content">
            <h3>Bitte loggen Sie sich nochmal ein!</h3>
            <h3>Verwenden Sie das richtige Passwort und den richtigen Benutzername</h3>
    </main>
    <footer>
        <div class="col-12 footer">
            <div class="icons col-6">
                <a href="https://www.instagram.com/sophieschollschule_mainz/?hl=en" class="linkIcon" target="_blank"><img src="/photos/1.svg" alt="instagram Icon" width="80" height="80"></a>
                <a href="https://youtu.be/dQw4w9WgXcQ?si=FnH3LQyS7THSHsSM" class="linkIcon" target="_blank"><img src="/photos/2.svg" alt="Youtube Icon" width="80" height="80"></a>
            </div>
            <address>
                <p>Maria Galper</p>
                <p>Wiesbaden</p> 
                <p>Sophie-Scholl-Schule</p> 
                <p>HBFS24c</p>
            </address>
        </div>
    </footer>
</body>
</html>